.idea/
difference.py
transfer_temp/
test_local.sh
.DS_Store
tests/reference_outputs
/.coverage
/docs/_build/
Pipfile.lock
build/
kwave/bin/windows
kwave/bin/linux
/k_Wave_python.egg-info/
*.mat
examples/__pycache__/
src/
.vscode/
*.asv
*.h5
*.tar.gz
*.whl
*.png
*.pyc
