# IDE specific files
.idea/
.vscode/

# Virtual environments
.venv/
venv/

# Compiled files
*.pyc
examples/__pycache__/

# System files
.DS_Store

# Python egg files
/k_Wave_python.egg-info/

# Build directories
build/
src/
transfer_temp/
docs/_build/
kwave/bin/

# Package manager files
Pipfile.lock

# Coverage reports
/.coverage

# Test and temporary files
difference.py
test_local.sh
tests/reference_outputs

# Data and output files
*.mat
*.mp4
*.h5
*.png
*.tar.gz
*.whl
*.asv
kspaceFirstOrder-*_metadata.json


