repos:
- repo: https://github.com/srstevenson/nb-clean.git
  rev: 3.2.0
  hooks:
  - id: nb-clean
    name: nb-clean
    entry: nb-clean clean
    language: python
    types_or: [jupyter]
    minimum_pre_commit_version: 2.9.2
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.2.2
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format
# - repo: https://github.com/pre-commit/pre-commit-hooks
#   rev: v4.5.0  # Use the ref you want to point at
#   hooks:
#   -   id: trailing-whitespace
# - repo: https://github.com/nbQA-dev/nbQA
#   rev: 1.7.1
#   hooks:
#   - id: nbqa-ruff
#     name: nbqa-ruff
#     entry: nbqa ruff
#     language: python
#     types_or: [jupyter]
#     minimum_pre_commit_version: 2.9.2