name: Ruff
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
jobs:
  ruff:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v3
      - uses: chartboost/ruff-action@v1
