name: test_pages
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
      with:
        fetch-depth: 0 # otherwise, you will fail to push refs to dest repo
    - uses: actions/setup-python@v5
      with:
        python-version: '3.13'
        cache: 'pip'
    - name: Build and Commit
      uses: waltsims/pages@pyproject.toml-support
      with:
        pyproject_toml_deps: ".[docs]"
